ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php
ErrorDocument 401 "Authorisation Required"
AuthType Basic
AuthName "Veuillez entrer vos identifiants"
AuthUserFile /Users/Paul%DESPONT/Desktop/Projet%WEB/ViteMonStage/.htpasswd
Require user admin
Satisfy All