.current_candidatures {
  background-color: rgb(238, 238, 238);
  color: black;
  margin: 10px;
  padding-top: 10px;
  border-radius: 20px;
}

.current_candidatures_title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.accepted_candidatures {
  background-color: rgb(235, 255, 220);
  color: black;
  margin: 10px;
  padding-top: 10px;
  border-radius: 20px;
}

.accepted_candidatures_title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.refused_candidatures {
  background-color: rgb(255, 226, 220);
  color: black;
  margin: 10px;
  padding-top: 10px;
  border-radius: 20px;
}

.refused_candidatures_title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.application-pb {
  width: 20%;
  border-radius: 20px;
}

.list-group.current {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow: auto;
}
.list-group.accepted {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow: auto;
}

.list-group.refused {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow: auto;
}

.right {
  float: right;
  margin-right: 20px;
}

.left {
  float: left;
  margin-right: 20px;
}

.btn.see {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  padding: none;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn.step.accepted {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  padding: none;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn.step.refused {
  color: rgb(255, 255, 255);
  background-color: #b70000;
  padding: none;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Style of the result divs */
.s_result {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  justify-content: space-between;
}

/* Description Style */
.in_desc {
  margin-top: 10px;
  margin-left: 10px;
}

/* Logo style */
.logoentreprise {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  float: right;
}

/* Offer title style */
.off_name {
  display: inline-block;
  margin-right: 10px;
}

/* Offer company */
.off_company {
  display: inline-block;
}

.no-offer{
  margin-left: 10px;
}

.progress {
  width: 70%;
  margin-bottom: 10px;
  background-color: rgb(218, 218, 218);
}

.badge.success{
  background-color: #67e600;
}

.badge.refused{
  background-color: #e66800;
}

.progress-bar.progress-bar.progress-bar.progress-bar-success{
  background-color: #67e600;
}

.progress-bar.progress-bar.progress-bar.progress-bar-danger{
  background-color: #e66800;
}

#navbar-candidatures-btn {
  color: #51b700;
  pointer-events: none;
}

.pulse-button {
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}