*{
    margin: 0;
    padding: 0;
}


.logoentreprise{
    width: 120px;
    height: 120px;
    margin-left: 1%;
    margin-top: 1%;
    
}

.company{
    display: flex;
    width: 98%;
    margin-top: 20px;
     margin-bottom: 20px;
    border-style: solid;
    margin-left: 1%;
    border-radius: 20px;
}

.evaluation{
   text-align: center;
}




