*{
    margin: 0;
    padding: 0;
}

.btn {
    /* Button style*/
color: rgb(255, 255, 255);
background-color: #51B700;
padding: none;
border-radius: 50px;
border-style: none;
height: 2.5em;
margin-left: 15vh;

}

.tbx {
    /* Textboxes style*/
border-radius: 50px;
border-style: none;
color: #BEBEBE !important;
background-color: #EEEEEE;
height: 2.5em;
font-size: 1.2em;  
margin-top: 1%;

}
   /* Label style*/
.tbxindicator{
    margin-left: 10px;
    margin-left: 10vh;
    padding-left: 10px;
    
}

.image{
    filter: drop-shadow(0 0 0.5rem grey) opacity(30%);
    object-fit: fill;
}
 /* Head band style*/
.container {
    position: relative;
    text-align: center;
    max-width: 200%;
    max-height: 200%;
    padding-left: 0%;
    padding-right: 0%;
  }

   /* Centered the title*/
   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

.results{
      margin-left: 8vh;
      margin-top: 7vh;
  }

.logoentreprise{
    width: 120px;
    height: 120px;
    margin-left: 1%;
}

.result{
    display: flex;
    border-style: solid;
    margin-left: 10px;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.in_desc{
    display: inline;
    margin-left: 1%;
  }

.search{
    margin-left: 10vh;
}


#searchbtn{
    /* Button style*/
color: rgb(255, 255, 255);
background-color: #51B700;
padding: none;
border-radius: 50px;
border-style: none;
height: 2.5em;
width:10% ;
margin-left: 15%;
margin-top: 5%;
}