*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.btn {
    /* Button style*/
color: rgb(255, 255, 255);
background-color: #51B700;
padding: none;
border-radius: 50px;
border-style: none;
height: 2.5em;
margin-left: 15vh;

}

.tbx {
    /* Textboxes style*/
     
border-radius: 50px;
border-style: none;
color: #BEBEBE !important;
background-color: #EEEEEE;
height: 2.5em;
font-size: 1.2em;  
margin-top: 1%;

}

.tbxindicator{
    margin-left: 10px;
    margin-left: 10vh;
    padding-left: 10px;
    
}

.image{
    filter: drop-shadow(0 0 0.5rem grey) opacity(30%) 


}

.container {
    position: relative;
    text-align: center;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

  .title{
      margin-left: 8vh;
      margin-top: 7vh;
  }

.logoentreprise{
    width: 300px;
    height: 300px;
}