*{
    margin: 0;
    padding: 0;
}


.btn {
    /* Button style*/
color: rgb(255, 255, 255);
background-color: #51B700;
padding: none;
border-radius: 50px;
border-style: none;
height: 2.25em;
}

.tbx {
    /* Textboxes style*/
border-radius: 50px;
border-style: none;
color: #BEBEBE !important;
background-color: #EEEEEE;
height: 2.5em;
font-size: 1.2em;  
margin-top: 10px;
margin-left: 55px;

}
   /* Label style*/
.tbxindicator{
 
    margin-left: 135px;
    width: 10em;
    margin-top: 1%;
    
}

.image{
    filter: drop-shadow(0 0 0.5rem grey) opacity(30%);
    object-fit: fill;
}
 /* Head band style*/
.container {
    position: relative;
    max-width: 200%;
    max-height: 200%;
    padding-left: 0%;
    padding-right: 0%;
  }

   /* Centered the title*/
   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

.logoentreprise{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.result{
    display: flex;
    border-style: solid;
    border-color: #51b700;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
  }


.search{
    margin-left: 10vh;
}

.btn.detail{
    width: 60px;
    float: right;
}


.btn.search{
    margin-left: 15vh;
    margin-top: 35px

}

.results{
    margin-top: 20px; 
    margin-left: 10px;
}