* {
    margin: 0;
    padding: 0;
}

.btn {
    /* Button style*/
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.25em;
}

/* Logo style */
.logoentreprise {
    width: 100px;
    height: 100px;
}
/* Bordure autour du logo*/
.image {
    padding-right: 20px;
}

/* Position des éléments lié à la company  */
.company_cadre {
    display: flex;
    margin: 20px;
    background-color: rgba(211, 211, 211, 0.50);
    padding: 50px;
    border-radius: 50px;

}

/* Company description */
.company_desc {
    margin-left: 5px;
}

/* Position des boutons  */
.company_btn {
    display: flex;
    margin-top: 10px;
    background-color: gray ;
    padding: 30px;
}

/* Button invisble postulate modify delete positionning  */
.btn.company {
    margin-left: 20px;
}

/* Centrer le titre evaluation */
.evaluate_title {
    text-align: center;
}

/* Div principale mise en flex et en colonne ainsi que style de la bordure */
.evaluate {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.50);

}
/* Espacement des élémenents */
.evaluate_criteria {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn.submit {
    margin: 4px;
}

/* Bordure autour de l'avatar */
.avatar {
    border-style: solid;
}

/* Taille de l'avatar */
.avatar_size {
    width: 150px;
    height: 150px;
}

/* Description de l'avatar */
.avatar_desc {
    margin-left: 5px;
}

.results_title {
    text-align: center;
}
.results {
    margin-top: 15px;
}
.profile {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.results_criteria {
    display: flex;
    justify-content: space-between;
}

.profile_results {
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(211, 211, 211, 0.50);
    padding: 20px;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  font-size: 5em;
  display: inline-block; 
  margin: 10px;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating.not > input:hover ~ label
{ color: #d6a903 ;  } /* Set yellow color when star hover */

.ltbx{
    border-radius: 50px;
    border-style: none;
    color: black !important;
    background-color: #ffffff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
    height: 85%;
    font-size: 1.2em;
    padding: 25px;
    resize: none;
}

.rating-box{
    padding: 25px;
}

.uncheckable{
    pointer-events: none;
}

.rating-description{
    padding: 25px;
}