h1 {
    text-align: center;
}

.btn {
    /* Button style*/
color: rgb(0, 0, 0);
background-color: rgb(39, 131, 207);
padding: none;
border-radius: 50px;
border-style: none;
height: 2.5em;
margin-left: 3px;


}

.tbx {
    /* Textboxes style*/
     
border-radius: 50px;
border-style: none;
color: #BEBEBE !important;
background-color: #EEEEEE;
height: 2.5em;
font-size: 1.2em;  
margin-left: 20px;

}

.tbxindicator{
    margin-left: 50px;
}

img{
    filter: drop-shadow(0 0 0.5rem grey) opacity(30%);
    padding-bottom: 1px;
 
}

/* Style of the container containing the images and the text */
.container {
    position: relative;
    font-family: Arial;
    width: 50%;
    padding-bottom: 10%;
  }

  /* Style of the text inside the images" */
.text-block {
    position: absolute;
    top: 5%;
    left: 50%;
    color: black;
  }