*{
    margin: 0;
    padding: 0;
}

.image{
    border-style: solid;
    border-radius: 20px;
}
.logoentreprise{
    width: 120px;
    height: 120px;
    margin-top: 1%; 
}

.company{
display: flex;
width: 98%;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 1%;
}

.evaluation{
   text-align: center;
}




