@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    margin-top:20px;
}

.avatar{
width:200px;
height:200px;
}		

.list li{
    display: inline;
	margin: 5px;
}

.infos #editbutton{
    color : lightgray;
    float : right;
}

.infos{
    display: flex;
    background-color: #09A129;
    justify-content: flex-start;
    align-items: center;

}
.infos li {
    list-style-type: none;;
}

#avatar{
    height: 130px;
    border: none;
    border-radius: 90px;
    margin:4px;
}

#leftcol{
    margin-top: 15px;
}
.big{
    color: #09A129;
}

.butconf{
    margin-top: 10px;
    float: right;
}

@media (max-width: 425px) {
    #rightcol{
        margin-top:20px;
    }
    footer{
        margin-top: 20px;
    }
  }
