/* Style of the container containing the images and the text */
*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    font-family: Arial;
    width: 45%;
    padding-bottom: 1%;
  }

  /* Style of the text inside the images" */
.text-block {
  /* other styles (left, top, right, and padding) */
    top: 5%;
    left: 5%;
    color: black;
  }

/* Style for all 4 images */
.img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.5rem grey) opacity(60%);
}

/* Style of "Welcome" text */
.Welcome{
    padding-left: 10px;
}

footer{
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 5%;
}

/* Style of "Service" in footer */
.footer_serv{
    display:inline-block;
    padding-left: 10%;

}

.footer_about{
    display:inline-block;
    padding-left: 10%;
}

.footer_vtm{
    display:inline-block;
    padding-left: 10%;
}


.zoom {
	transition: transform .5s;
}

.zoom:hover {
	transform: scale(1.1);
	z-index: 1;
}

.fa-brands{
    padding-right: 10px;
}

* {
  box-sizing: border-box;
}
