/* Style of the container containing the images and the text */
.container {
    position: relative;
    font-family: Arial;
    width: 50%;
    padding-bottom: 1%;
  }

  /* Style of the text inside the images" */
.text-block {
    position: absolute;
    top: 5%;
    left: 5%;
    color: black;
  }

/* Style for all 4 images */
.img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.5rem grey) opacity(60%);
}

/* Style of "Welcome" text */
.Welcome{
    padding-left: 10%;
}

footer{
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 5%;
}

.f_serv{
    display:inline-block;
    padding-left: 10%;

}

.f_about{
    display:inline-block;
    padding-left: 10%;
}

.f_vtm{
    display:inline-block;
    padding-left: 10%;
}