/* Style of the container containing the images and the text */
*{
    margin: 0;
    padding: 0;
}

/* Style of the text inside the images" */
.text-block {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    color: black;
}

/* Style for all 4 images */
.img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.5rem grey) opacity(50%);
}
.zoom {
    background-color: white;
    margin: 10px;
	transition: transform .5s;
  }
  
.zoom:hover {
    position: relative;
	transform: scale(1.02);
	z-index: 1;
}

.zoom a {
    position: relative;
  }

/* Style of "Welcome" text */
.welcome{
    padding-left: 10px;
}

#navbar-index-btn {
    color: #51b700;
    pointer-events: none;
}