/* Logo style */
.logoentreprise {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-style: solid;
  border-radius: 20px;
  margin: 15px;
}


.off_desc_txt {
  display: inline-block;
}

.off_wish{

}

.off_apply{
  padding-top: 40px;
  background-color: gray;
  padding-bottom: 25px;

}

.btn.app {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 15px;
}

.btn.see {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.off_det{
  background-color: lightgray;
  margin: 25px;
  padding: 15px;
}
