/* Logo style */
.logoentreprise {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-style: solid;
  border-radius: 20px;
  margin: 15px;
}

/* Offer description text style */
.off_desc{
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 50px;
  padding: 30px;
  margin: 25px;

}
/* Offer description text style */
.off_desc_txt {
  display: inline-block;
  margin-left: 15px;
}

/* Wishlist div style */
.wish {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  vertical-align: top;
}

/* Wishlist icon style */
.wish_d1 {
  display: inline-block;
  width: 20px;
}

/* Wishlist text style */
.wish_d2 {
  display: inline-block;
  width: 100px;
}

/* Apply div style */
.off_apply {
  padding-top: 40px;
  background-color: gray;
  padding-bottom: 25px;
  padding-left: 30px;
}

/* Mediaquery for the buttons */
@media (max-width: 992px) {
  .small.btn.app.smalltitle {
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.5em;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .small.btn.see.smalltitle {
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.5em;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }
}
@media (min-width: 992px) {
  .small.btn.app.bigtitle {
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.5em;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .small.btn.see.bigtitle {
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.5em;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

/* Offer details style */
.off_det {
  background-color: rgba(211, 211, 211, 0.5);
  margin: 25px;
  padding: 30px;
  border-radius: 50px;
}

.btn {
  /* Button style*/
  color: rgb(255, 255, 255);
  background-color: #51B700;
  border-radius: 50px;
  border-style: none;
  height: 2.25em;
  }

a.addlink{
  color: rgb(62, 213, 62);
  text-decoration: none;
}

a.removelink{
  color: rgb(213, 62, 62);
  text-decoration: none;
}