/* Style of the container containing the banner and the text */
.container.offerimg {
  position: relative;
  max-width: 200%;
  max-height: 200%;
  padding-left: 0%;
  padding-right: 0%;
}

/* Style of the text inside the images" */
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/* Banner's style */
.img.banner {
  object-fit: fill;
  width: 100%;
  filter: drop-shadow(0 0 0.5rem grey) opacity(30%);
}

/* Mediaquery for the text on the banner*/
@media (max-width: 992px) {
  .t_off.smalltitle {
    margin-top: 10px;
    font-size: smaller;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .t_off2.smalltitle {
    font-size: x-small;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .t_off.bigtitle {
    font-size: xx-large;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .t_off2.bigtitle {
    font-size: larger;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
}

.resu{
  margin-top: 20px; 
  margin-left: 10px;
}

/* Search textboxes divs */
.col-lg-2 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Textboxes style */
.tbx {
  border-radius: 30px;
  border-style: none;
  color: #bebebe !important;
  background-color: #eeeeee;
  width: 10em;
  height: 2.5em;
  font-size: 1.2em;
  margin-top: 10px;
}

/* Label style */
.tbxindicator {
  margin-left: 1vh;
  padding-left: 1px;
  text-align: center;
  width: 10em;
}

/* Search Button style*/
.btn.search {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
}

/* See Offer Button style*/
.btn.see {
  color: rgb(255, 255, 255);
  background-color: #51b700;
  border-radius: 50px;
  border-style: none;
  height: 2.5em;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Style of the result divs */
.s_result {
  display: flex;
  border-style: solid;
  border-color: #51b700;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  justify-content: space-between;
}

/* Description Style */
.in_desc {
  margin-top: 10px;
  margin-left: 10px;
}

/* Logo style */
.logoentreprise {
  width: 100px;
  height: 100px;
}

/* Offer title style */
.off_name {
  display: inline-block;
  margin-right: 10px;
}

/* Offer company */
.off_company {
  display: inline-block;
}
