/* Style of the container containing the images and the text */
.container.offerimg {
    position: relative;
    max-width: 200%;
    max-height: 200%;
    padding-left: 0%;
    padding-right: 0%;
  }

  /* Style of the text inside the images" */
.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

.img{
    object-fit: fill;
    width: 100%;
}