li{
    display: inline;
	margin: 10px;
}
#dot{
    margin-inline-end: 2px;
    writing-mode: vertical-rl;
    height: 6px;
}
.profile{
    background-color: gainsboro;
}
#avatar{
    height: 170px;
    border: none;
    border-radius: 90px;
    margin-left: 5px;
}
.profile img {
    height:24px;
}