* {
    margin:0;
    padding: 0;
}

.list li{
    display: inline;
	margin: 5px;
}

.infos #editbutton{
 margin-left: auto;
 margin-right: 1%;
 margin-bottom: 125px;;

}
.infos{
    display: flex;
    background-color: #09A129;
    justify-content: flex-start;
    align-items: center;

}
.infos li {
    list-style-type: none;;
}


#avatar{
    height: 130px;
    border: none;
    border-radius: 90px;
    margin:4px;
}
.profile img {
    height:24px;
}
.wishlist{
    border-color: black;
    border-style:solid ;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    // align-items: center;
    border-radius: 25px;
    width: 90%;
    height: 100%;
    margin: 3%;
    margin-left: 5%;


}

.menu {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.menu .titre {
    
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    
}

.menu .small{
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}

.menu .bouton {
    margin-bottom: 2%;
    margin-top: 5%;
    
}

.menu .mini{
    margin: 1em;
}

.menu .offerexample{
    margin-top: 0%;
}
.small.btn {
    /* Button style*/
color: rgb(255, 255, 255);
background-color: #51B700;
padding: none;
border-radius: 50px;
border-style: none;
height: 2.25em;
margin-left: 15vh;

}
.small.btn:hover{
    background-color: #2a652c;
}

.candidatures{
    border-color:black;
    border-style:solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    // align-items: center;
    border-radius: 25px;
    width:90%;
    height: 100%;
    margin: 3%;
    margin-left: 5%;
}


.candidatures .progress-bar
{
    width:50%;
}
.candidatures .progress{
    margin-left: 10px;
    margin-right:10px;
    
}


body a{
    color:#6c757d65 ;
    text-decoration: none;
}
body a:hover{
    color:#6c757d;
}
.space{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.scroller {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

