/* Head band style*/
.container {
    position: relative;
    max-width: 200%;
    max-height: 200%;
    padding-left: 0%;
    padding-right: 0%;
}

.btn {
    /* Button style*/
    color: rgb(255, 255, 255);
    background-color: #51B700;
    border-radius: 50px;
    border-style: none;
    height: 2.25em;
    }

.btn.offer{
    position: absolute;
    right: 10px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 15px;
    background-color: #51b700;
}


/* Centered the title*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

/* Banner style */
.image {
    filter: drop-shadow(0 0 0.5rem grey) opacity(30%);
    object-fit: fill;
}


/* Logo style */
.logoentreprise {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

/* "Result" div style */
.result {
    display: flex;
    border-style: solid;
    border-color: #51b700;
    border-radius: 10px;
    margin: 15px;
    position: relative;
    
}



/* Location and publication text style*/
.loca {
    margin-right: 5em;
}


